.box{
    border: 0.1px rgb(255, 255, 255, .2) solid;
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 8%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(10px);    
}

body{
    background: url('i.webp') no-repeat;
    background-size: 100%;

}
.login{
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 40px;
}

.user{
   
    width: 280px;
    height: 40px;
    margin-top: 20px;
    border: 1px rgb(255, 255, 255) solid;
    backdrop-filter: (20px);
    background-color: black;
    background: transparent;
    border-radius: 40px;
    outline: none;
    padding-left:20px;
    display: flex;
    color: white;
    font-size: 15px;
    font-weight: 300;

}

.user::placeholder{
    color: white;
    font-size: 15px;

}

.bx{
    width: 20px;
    height: 20px;
}

.in{
    display: flex;
    justify-content: space-around;
    width: 350px;
    height: 60px;
    margin: auto;
    padding-right: 10px;
}

.in i{
    margin-top: 25px;
    font-size: 30px;
    color: white;
}

.pas i{
    margin-top: 25px;
    font-size: 30px;
    color: white;
}

.pas{
    display: flex;
    justify-content: space-around;
    width: 350px;
    height: 60px;
    margin: auto;
   margin-left: 20px;
   margin-top: 20px;
}

.che{
    display: flex;
    margin-right: 10px;
    width: 130px;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 14px;
    padding-right: 30px;
    margin-left: 60px;
}
.inlog{
    width: 390px;
    height: 60px;
    display: flex;


}
.h52 h5{
    color: white;
    font-family: sans-serif;
    margin-left: 15px;
}

.che h5{
    
    margin-top: 24px;
    
}

.hh{
    margin-left: 3px;
}

.h52 h5:hover{
    text-decoration: underline;
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff00;
    border: 2px white solid;
    border-radius: 40px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    padding-top: 3px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 57px;
    width: 300px;
    height: 50px;
  }
  
  .button:hover{
      background-color: rgba(0, 128, 0, 0.432);
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
